body {
    /*color*/
    background-color: #ccf2ff;
    color: black;
    /*font*/
    font-size:20px;
    font-weight: 450; /*bold level*/
    /*font-family: Papyrus;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    /*text positioning*/
    text-align: left;
    text-indent: 2%;
    margin: 1% 1% 1% 1%; /*top right bottom left*/
}

h1 {
  margin:7px;
}

h2 {
  margin:5px;
}

h3 {
  margin:3px;
}

p {
    margin:0%;
}

ul {
    margin:0%;
}

ol {
    margin:0%;
}

li {
    text-indent:0px;
}

.main_heading{
    font-size:23px;
    font-weight:900;
    text-align:center;
    margin-bottom: 10px;
    text-decoration: underline;
}

.tablink {
    background-color: #80dfff;
    font-weight: 600;
    color: black;
    float: left;
    border-style: solid;
    border-width: 5px;
    border-color: black;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    padding: 0px 1px;
    font-size: 23px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #4dd2ff;
  }
  
  .tablink:active {
    background-color: #1ac6ff;
  }

  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: black;
    display: none;
    padding: 55px 0px;
    height: 100%;
  }

  .group:after {
    content: "";
    display: table;
    clear: both;
  }